DB_ENGINE=postgresql+asyncpg
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=postgres

PROJECT_NAME=jiraLike
PROJECT_DESCRIPTION=
PROJECT_VERSION=v0.1
DEBUG_MODE=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1


SERVER_URL=http://127.0.0.1:8000/

BROKER_URL=kafka:9092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

SMTP_SERVER=smtp.yandex.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=yourmail@yandex.ru
